.hero {
  position: relative;
  overflow: hidden;
  padding-top: 0.5rem;
}


/******* Hero Title *******/

.hero-title {
  color: var(--color-primary-light);
  font-family: 'Syne', sans-serif;
  position: absolute;
  top: 19rem; 
  left: 2%;
  /* right: 30%; */
  z-index: 99;
}

.hero-title h1 {
  letter-spacing: 0.2rem;
  font-weight: 800;
}

.title-2 {
  color: transparent;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: var(--color-primary-light);
  position: relative;
  left: 28%;
}

.title-3 {
  position: relative;
  left: 6%;
}


/******* Model *******/

.model-container {
  position: relative;
  overflow: hidden;
}

.model {
  position: relative;
  left: 15%;
  top: 0;
}

.large-star {
  position: absolute;
  left: 16%;
  /* left: 6rem; */
}

.model-img {
  position: relative;
  top: 0rem;
  /* right: 15%; */
  /* left: 10%; */
  z-index: 3;
}


/******* Orange and Blur Box *******/

.orange-box {
  width: 100%;
  height: 22rem;
  /* background: var(--color-optional-1); */
  background: rgb(181 110 44);;
  position: absolute;
  top: 14rem;
}

.blur-box {
  width: 100%;
  height: 22rem;
  background: var(--color-optional-1);
  opacity: 0.2;
  position: absolute;
  top: 14rem;
  z-index: 4;
}

/******* Line and Star *******/

.line-star-container {
  width: 50%;
  position: absolute;
  top: 31rem;
  z-index: 11;
}

.line-star-container .line {
  width: 100%;
  height: 1px;
  background: var(--color-primary-light);
  position: absolute;
  top: 2.8rem;
}

.line-star-container .small-star {
  position: absolute;
  right: 0;
}


/******* Media Queries for ipad and tablets *******/

@media screen and (min-width: 480px) {
  .hero-title {
    top: 15rem;
  }
  
  .model {
    left: 35%;
  }

  .large-star {
    z-index: 2;  
  }

  .model-img {
    left: 10%;
  }

  .line-star-container {
    width: 65%;
  }
}


/******* Media Queries for small screens and labtops *******/

@media screen and (min-width: 768px) {
  .hero-title {
    top: 10rem;
    left: 5%;
  }

  .title-2 {
    left: 50%;
  }

  .model {
    left: 53%;
  }

  .orange-box {
    width: 70%;
    right: 0;
  }

  .blur-box {
    width: 70%;
    right: 0;
  }

  .line-star-container {
    width: 75%;
  }

}
